@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    scroll-snap-align: center;
    -webkit-tap-highlight-color: transparent;
  }

  form input, form textarea {
    @apply w-full p-2 border border-[#ced4da] rounded-lg invalid:[&:not(:placeholder-shown)]:border-red-500 outline-blue-700
  }

  img {
    @apply w-full h-full cursor-pointer object-cover object-top
  }

}

@layer components {

  .page {
    @apply flex min-h-screen m-auto items-center justify-center bg-primary
  }

  .card {
    @apply w-full max-w-xs h-96 bg-white rounded-xl overflow-hidden pb-4 shadow-xl hover:shadow-2xl cursor-pointer text-center
  }
}